@model FM8020_MVC.Models.DefectModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Problem
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Gebäude
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Facility.FacilityCode)
        </dd>
        <dt class="col-sm-2">
            Raum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            Uhrzeit
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class="col-sm-2">
            Kategorie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DefectType)
        </dd>
        <dt class="col-sm-2">
            Details
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Erledigt?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Done)
        </dd>
    </dl>
</div>
@if (!Model.Done)
{
    <div>
        <p>
            <a class="btn btn-outline-success" asp-action="CloseDefect" asp-route-id="@Model.Id">Als erledigt markieren</a>
        </p>
    </div>
}
<div>
    <a class="btn btn-primary" asp-action="Dashboard" asp-controller="Home"><i class="fa fa-chevron-left"></i> Zurück</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Bearbeiten</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Löschen</a>
</div>
